/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
	letter-spacing: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Font face */

@font-face {
	font-family: 'Figtree';
	src: url('https://raw.githubusercontent.com/MBaktygul/blog-card/main/assets/fonts/Figtree/static/Figtree-Medium.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'Figtree';
	src: url('https://raw.githubusercontent.com/MBaktygul/blog-card/main/assets/fonts/Figtree/static/Figtree-ExtraBold.ttf') format('truetype');
	font-weight: 700;
}

/* root */

:root {
	/* colors */
	--clr-yellow: hsl(47, 88%, 63%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-grey-500: hsl(0, 0%, 42%);
	--clr-grey-950: hsl(0, 0%, 7%);

	/* font-sizes */
	--fs-24: 1.5rem;
	--fs-20: 1.25rem;
	--fs-16: 1rem;
	--fs-14: 0.8rem;
	--fs-12: 0.7rem;

	/* font-weights */
	--fw-bold: 900;
	--fw-medium: 600;

	/* font-family */
	--ff-figtree: 'Figtree', sans-serif;

	/* spacings */
	--spacing-xs: 0.25rem;
	--spacing-sm: 0.5rem;
	--spacing-md: 0.75rem;
	--spacing-l: 1.5rem;

	/* border-radius */
	--border-radius-xs: 0.25rem;
	--border-radius-s: 0.6rem;
	--border-radius-m: 1.25rem;
}

/* global */

body {
	font-family: 'Figtree', sans-serif;
	font-weight: var(--fw-medium);
	font-size: var(--fs-14);
	background-color: var(--clr-yellow);
	color: var(--clr-grey-950);
}

/* heading */
h1 {
	font-weight: var(--fw-bold);
	font-size: var(--fs-20);
}

h1:hover {
	color: var(--clr-yellow);
	cursor: pointer;
}

/* text */

p {
	color: var(--clr-grey-500);
}

/* card */

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 20rem;
	min-height: 100vh;
	margin: auto;
}

.card__wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-l);
	padding: var(--spacing-l);
	background-color: var(--clr-white);
	border-radius: var(--border-radius-m);
	box-shadow: 8px 8px var(--clr-grey-950);
	outline: 1px solid var(--clr-grey-950);
}

.card__wrapper-image {
	border-radius: var(--border-radius-s);
}

.card__content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-l);
}

.card__content-inner {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	margin-top: 0;
}

.card__filter {
	font-size: 0.75rem;
	font-weight: var(--fw-bold);
	padding: var(--spacing-xs) var(--spacing-md);
	background-color: var(--clr-yellow);
	width: 4.5rem;
	border-radius: var(--border-radius-xs);
}

.card__date {
	color: var(--clr-grey-950);
	font-size: var(--fs-12);
}

.card__content-author {
	display: flex;
	align-items: center;
	gap: var(--spacing-md);
}

.card__content-avatar {
	width: 32px;
	height: 32px;
}

.card__content-name {
	font-weight: var(--fw-bold);
}
